.User {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 105px;
}
.ghostroom {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 101px;
}
.ghosttype {
  position: absolute;
  top: 82px;
  left: 100px;
  width: 55px;
}
.submitbutton {
  position: absolute;
  top: 82px;
  left: 300px;
}

h4 {
  position: absolute;
  top: 10px;
  left: 300px;
}
.winners {
  position: absolute;
  top: 15px;
  left: 380px;
}
.ghosts {
  position: absolute;
  cursor: pointer;
}
.Shade {
  top: 330px;
}
.Banshee {
  top: 170px;
}
.Onryo {
  top: 250px;
}
.Goryo {
  top: 370px;
}

.Polterguist {
  top: 30px;
}
.Mimic {
  top: 410px;
}
.Demon {
  top: 70px;
}
.Yokai {
  top: 90px;
}
.Jinn {
  top: 310px;
}
.Mare {
  top: 50px;
}
.Myling {
  top: 110px;
}
.Raiju {
  top: 130px;
}
.Revenant {
  top: 190px;
}
.Yurei {
  top: 210px;
}
.Obake {
  top: 270px;
}
.Phantom {
  top: 290px;
}
.Oni {
  top: 350px;
}
.Twins {
  top: 390px;
}
.Hantu {
  top: 230px;
}
.Wraith {
  top: 150px;
}
div {
  position: absolute;
  height: 500px;
  width: 300px;
  padding-left: 10px;
  padding-top: 10px;
  left: 900px;
  top: 20px;
}
.ghostnames {
  position: absolute;
  left: 40px;
}
.Spirittext {
  top: -5px;
}
.Polterguisttext {
  top: 15px;
}
.Maretext {
  top: 35px;
}
.Demontext {
  top: 55px;
}
.Yokaitext {
  top: 75px;
}
.Mylingtext {
  top: 95px;
}
.Raijutext {
  top: 115px;
}
.Wraithtext {
  top: 135px;
}
.Bansheetext {
  top: 155px;
}
.Revenanttext {
  top: 175px;
}
.Yureitext {
  top: 195px;
}
.Hantutext {
  top: 215px;
}
.Onryotext {
  top: 235px;
}
.Obaketext {
  top: 255px;
}
.Phantomtext {
  top: 275px;
}
.Jinntext {
  top: 295px;
}
.Shadetext {
  top: 315px;
}
.Onitext {
  top: 335px;
}
.Goryotext {
  top: 355px;
}
.Twinstext {
  top: 375px;
}
.Mimictext {
  top: 395px;
}
.userslist {
  height: 20px;
  position: absolute;
  width: 600px;
  left: 50px;
  list-style: none;
  top: 200px;
}

.userslist {
  /* position: absolute; */
  /* background-color: blue; */
  width: auto;
  padding: auto;
  height: auto;
}

.userslist + .userslist {
  margin-top: 20px;
}

.backgroundimage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.ghostrooms {
  position: absolute;
  left: 150px;
  cursor: pointer;
}

.Foyer {
  top: -5px;
  position: absolute;
}
.Livingroom {
  top: 15px;
}
.Kitchen {
  top: 35px;
}
.DiningRoom {
  top: 55px;
}
.Hallway {
  top: 75px;
}
.Workshop {
  top: 95px;
}
.Toilet {
  top: 115px; 
}
.UpstairsHway {
  top: 135px;
}
.Bathroom {
  top: 155px;
}
.Utility {
  top: 175px;
}
.MBedroom {
  top: 195px;
}
.SBathroom {
  top: 215px;
}
.GBedroom{
  top: 235px;
}
.BBedroom {
  top: 255px;
}
.Attic {
  top: 275px;
}
.TBedroom {
  top: 75px;
}
.Nursery {
  top: 115px;
}
.UBathroom {
  top: 155px;
}
.UBedroom {
  top: 215px;
}
.Storage {
  top: 235px;
}
.Garage {
  top: -5px;
}
.BHallway {
  top: 235px;
}
.LStorage {
  top: 95px;
}
.RStorage {
  top: 115px;
}
.Hallway2 {
  top: 55px;
}
.BBedroom2 {
  top: 175px;
}
.MBedroom2 {
  top: 135px;
  width: 120px;
}
.BHallway2{
  top: 75px;
  width: 120px;
}